@font-face {
    font-family: Rollbox;
    src: url(font/Regular.tff) format('truetype');
}
@font-face {
    font-family: Rollbox;
    src: url(font/Italic.tff) format('truetype');
    font-weight: italic;
}
@font-face {
    font-family: Rollbox;
    src: url(font/Bold.tff) format('truetype');
    font-weight: bold;
}
@font-face {
    font-family: Rollbox;
    src: url(font/BoldItalic.tff) format('truetype');
    font-weight: bold, italic;
}
@font-face {
    font-family: Rollbox;
    src: url(font/Black.tff) format('truetype');
    font-weight: bolder;
}
@font-face {
    font-family: Rollbox;
    src: url(font/BlackItalic.tff) format('truetype');
    font-weight: bolder, Italic;
}