
html { 
    color-scheme: light dark; 
}
body { 
    width: 30em; 
    margin: 0 auto;
    font-family: Tahoma, Verdana, Arial, sans-serif; 
    background: #0C1826 top/cover no-repeat url("index.png");
}
.luule {
    align-self: center;
}